<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Game</title>
    <link href='http://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>
    <script src="/createjs-2014.12.12.min.js"></script>
    <script src="/bower_components/preloadjs/dist/preload.js"></script>
    <script src="/bower_components/easeljs/lib/easeljs-0.8.0.min.js"></script>
    <script src="/game/board.js"></script>
    <script src="/game/player.js"></script>
    <script src="/game/game.js"></script>

</head>
<body>
<canvas id="game29" width="700" height="550"></canvas>

</body>
</html>